/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  /* Hide scrollbar for IE, Edge and Firefox */
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 1px; /* Firefox */
}

body {
  overflow-y: hidden;
}
html {
  overflow-y: scroll;
}

#app {
  height: auto;
  min-height: 100vh;
}
::-webkit-scrollbar {
  scrollbar-width: 1px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.ck.ck-editor {
  width: 90%;
}

.ck.ck-content.ck-editor__editable {
  min-height: 20vw !important;
}

.ck.ck-content.ck-editor__editable.ck-editor__editable_inline {
  font-family: "Gotham Book", sans-serif;
  & > p {
    font-size: 1.4vw !important;
  }

  & > h2 {
    font-size: 2.8vw !important;
  }

  & > h3 {
    font-size: 2.2vw !important;
  }

  & > h4 {
    font-size: 1.8vw !important;
  }
}

.SweetAlerts-global {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
}

.SweetAlerts-global-add {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  margin-left: 24vw;
}

.ck.ck-dropdown__panel {
  max-height: 18vw !important;
  overflow-y: auto !important;
}

.ck-content .text-tiny {
  font-size: 1.1vw !important;
  opacity: 1;
}

.ck-content .text-small {
  font-size: 1.4vw !important;
  opacity: 1;
}

.ck-content .text-big {
  font-size: 1.7vw !important;
  opacity: 1;
}

.ck-content .text-huge {
  font-size: 2.4vw !important;
  opacity: 1;
}
